@model IEnumerable<DrivingSchoolApp.Models.Teacher>

<h2>Преподаватели</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить преподавателя</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Специализация</th>
            <th>Опыт</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Surname @item.Name @item.Patronymic</td>
                <td>@item.Phone</td>
                <td>@item.Specialization</td>
                <td>@item.Experience лет</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>