@model IEnumerable<DrivingSchoolApp.Models.StudyGroup>

<h2>Учебные группы</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить группу</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Программа</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StudyProgram</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>