@model IEnumerable<DrivingSchoolApp.Models.Vehicle>

<h2>Учебный транспорт</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить транспорт</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Модель</th>
            <th>VIN</th>
            <th>Цвет</th>
            <th>Трансмиссия</th>
            <th>Привод</th>
            <th>Категория</th>
            <th>Год</th>
            <th>Состояние</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Model</td>
                    <td>@item.VIN</td>
                    <td>@item.Color</td>
                    <td>@item.Transmission</td>
                    <td>@item.DriveType</td>
                    <td>@item.Category</td>
                    <td>@item.ManufactureYear</td>
                    <td>@item.TechnicalCondition</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
